<section class="ui raised segment">
MyTweet: TimeLine for ${user.firstName} ${user.lastName}
    <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/parrot.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Message:</th>
            <th>Date:</th>
          </tr>
        </thead>
        <tbody>
          #{list items:tweets, as:'tweet'}
            <tr>
              <td>${tweet.message}</td>
              <td>${tweet.dateStamp}</td>
            </tr>
          #{/list}
        </tbody>
      </table>
    </article>
  </div>
</section>