<nav class="ui inverted purple menu">
    <div class=" menu">
      <a class="item" href="/"> My Tweet</a>
      <a class="item" href="/signup"> Signup</a>
      <a class="item" href="/login">  Login</a>
    </div>
  </nav>    