<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/parrot2.jpg" class="ui large image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Welcome to My Tweet  </header>
      <p>Make Tweets about daily life, what you love and what you hate!</p>
      <p>If you don't like it here, there's always twitter!</p>
      <div class="ui twitter button">
       <i class="large twitter icon"></i>
           <a href="https://twitter.com/"><font color="white">Twitter</font></a>
        </div>
    </article>
  </div>
</section>