#{extends 'main.html' /}
#{set title:'Donation Request' /} 

<nav class="ui inverted menu">
  <header class="header item"> <a href="/"> My Tweet </a> </header>
  <div class="right menu">
    <a class="active item" href="/tweet"> Tweet</a>
    <a class="item" href="/tweet/report">  Report</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>    

<section class="ui raised segment">

  #{include "Segments/tweet.html" /} 

   

</section>