#{extends 'main.html' /} 
#{set title:'Report' /} 

<nav class="ui inverted menu">
  <header class="header item"> <a href="/"> My Tweet </a> </header>
  <div class="right menu">
    <a class="item" href="/tweet"> Tweet</a>
    <a class="active item" href="/tweet/report">  Report</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>    

#{include "Segments/report.html" /} 
